h1{
    text-align: center;
}
.content1{
    background-color: gray;
    border: 2px solid black;
    margin: 15px;
    float: left;
    width: 30%;
} 
.content1 .pa{
    border:1px solid black;
    background-color: pink;
    float: right;
     width: 100px;
    height: 25px;
    text-align: center;
    font-size: 25px;


}
.content2{
    background-color: gray;
    border: 2px solid black;
    margin: 15px;
    float: left;
    width: 30%;
} 
.content2 .pz{
    border:1px solid black;
    background-color: red;
   float: right;
    width: 100px;
    height: 25px;
    text-align: center;
    font-size: 25px;


}
.content3{
    background-color: gray;
    border: 2px solid black;
    margin: 15px;
    float: left;
    width: 28%;

} 
.content3 .pe{
    border:1px solid black;
    background-color: yellow;
    float: right;
    width: 100px;
    height: 25px;
    text-align: center;
    font-size: 25px;

}
@media only screen and (min-width:768px) and (max-width:991px)
{
.content1 {
    float: left;
    width: 45%;
}
.content2 {
    float: left;
    width: 45%;
}
.content3{
    width: 96%;
}
}
@media only screen and  (max-width:767px)
{
.content1 {
    float: left;
    width:  96%;
}
.content2 {
    float: left;
    width: 96%;
}
.content3{
    width: 96%;
}
}
